@model ManageEF.sys_user_group
@{
    ViewBag.Title = Model.Id > 0 ? "编辑角色" : "新增角色";
}

<div class="mianbaowarp  clearfix ">
    @Html.Partial("_NavPartial")
</div>
@using (Html.BeginForm())
{
    <table class="table-form table">
        <tr>
            <td class="w-15">名称：<span></span></td>
            <td class="w-85 ">
                <input type="text" name="Title" value="@Model.Title" class="validate[required] inputxt w250" maxlength="30" />
            </td>
        </tr>
        <tr>
            <td class="w-15">标识码：<span></span></td>
            <td class="w-85 ">
                <input type="text" name="Code" value="@Model.Code" class="validate[required] inputxt w250" maxlength="30" />
            </td>
        </tr>
        <tr>
            <td class="w-15">排序值：<span></span></td>
            <td class="w-85 ">
                <input type="text" name="SortValue" value="@Model.SortValue" onkeyup="this.value=this.value.replace(/\D/g,'')" class="validate[required] inputxt w250" maxlength="30" />
            </td>
        </tr>
        <tr>
            <td class="w-15">描述：<span></span></td>
            <td class="w-85 ">
                <textarea name="Description" style="width: 60%;">@Model.Description</textarea>
            </td>
        </tr>
        <tr>
            <td class="w-15">状态：<span></span></td>
            <td class="w-85 ">
                @Html.RadioButtonFor(m => m.State, true)<label>启用</label>
                @Html.RadioButtonFor(m => m.State, false)<label>禁用</label>
            </td>
        </tr>
        <tr>
            <td class="w-15 "></td>
            <td class="w-85 ">
                @Html.HiddenFor(m => m.Id)
                <input type="hidden" name="State" value="true" />
                <button name="smSave" class="btn active btn-submit smSave">保存关闭</button>
            </td>
        </tr>
    </table>
}

@section scripts{
    <script>
        $(".mainwarp").on("click", ".smSave", function (e) {
            e.preventDefault();
            $(".mainwarp").smAjaxSubmit({
                success: function (data) {
                    if (data && data.Code == 0) {
                        showTip("保存成功，正在加载页面", 1, function () {
                            window.location.href = "/usergroup/index";
                        });
                    } else {
                        showTip("保存失败，请稍后再试！", 0, 2);
                    }
                }
            });
        });
    </script>
}