@model ManageEF.sys_user
@{
    ViewBag.Title = Model.Id > 0 ? "用户编辑" : "新增用户";
}
<div class="mianbaowarp  clearfix ">
    @Html.Partial("_NavPartial")
</div>
<div class="smContent">
    @using (Html.BeginForm())
    {
        <table class="table-form table">
            <tr>
                <td class="w-15">姓名：<span></span></td>
                <td class="w-85 ">
                    <input type="text" name="UserName" value="@Model.UserName" class="validate[required] inputxt w250" maxlength="30" />
                </td>
            </tr>
            <tr>
                <td class="w-15">账号：<span></span></td>
                <td class="w-85 ">
                    <input type="text" name="UserCode" value="@Model.UserCode" class="validate[required] inputxt w250" maxlength="30" />
                </td>
            </tr>
            <tr>
                <td class="w-15">邮箱：<span></span></td>
                <td class="w-85 ">
                    <input type="text" name="Email" value="@Model.Email" class="validate[required] inputxt w250" maxlength="30" />
                </td>
            </tr>
            <tr>
                <td class="w-15">手机号：<span></span></td>
                <td class="w-85 ">
                    <input type="text" name="Mobile" value="@Model.Mobile" class="validate[required] inputxt w250" maxlength="30" />
                </td>
            </tr>
            <tr>
                <td class="w-15">密码：<span></span></td>
                <td class="w-85 ">
                    <input type="text" name="PassCode" value="@(Core.Util.Encryptor.DecryptDES(Model.PassCode))" class="validate[required] inputxt w250" maxlength="30" />
                </td>
            </tr>
            <tr>
                <td class="w-15">状态：<span></span></td>
                <td class="w-85 ">
                    @Html.RadioButtonFor(m => m.State, 1)<label>启用</label>
                    @Html.RadioButtonFor(m => m.State, 0)<label>禁用</label>
                </td>
            </tr>
            <tr>
                <td class="w-15">管理组：<span></span></td>
                <td class="w-85 ">
                    @Html.Action("UserGroupOption", new { userId = Model.Id, userGroupIds = Model.user_group_mapping, name = "checkboxGroup" })
                </td>
            </tr>
            <tr>
                <td class="w-15 "></td>
                <td class="w-85 ">
                    @Html.HiddenFor(m => m.Id)
                    <input type="hidden" name="State" value="true" />
                    <button name="smSave" class="btn active btn-submit smSave">保存关闭</button>
                </td>
            </tr>
        </table>
    }
</div>
@section scripts{
    <script>
        $(".mainwarp").on("click", ".smSave", function (e) {
            e.preventDefault();
            $(".mainwarp").smAjaxSubmit({
                success: function (data) {
                    if (data && data.Code == 0) {
                        showTip("保存成功，正在加载页面", 1, function () {
                            location.href = "/user/index";
                        });
                    } else {
                        showTip("保存失败，请稍后再试！", 0, 2);
                    }
                }
            });
        });
    </script>
}
